@font-face {
    src: url('../../assets/fonts/BYekan+/BYekan+.ttf');
    font-family: "bYekan";
}

.text {
    font-family: bYekan;
}

span {
    font-family: bYekan;
}

label {
    font-family: bYekan;
}

h1, h2, h3, h4, h5, h6 {
    font-family: bYekan;
}

.btn {
    font-family: bYekan;
}

.fw-bolder {
    color: rgb(255 255 255);
}

.sc-dAbbOL, .sc-ikkxIA, .sc-dhKdcB {
    background-color: #283046;
}

.input {
    font-family: bYekan;
}

.sc-eqUAAy {
    width: 100%;
    background-color: #343d55;
    color: #fff;
    font-family: sans-serif;
}

.sc-cwHptR {
    font-family: sans-serif;
}

.pagination {
    display: flex;
    justify-content: center;
}

.react-dataTable > div:not(.sc-feUZmu) {
    display: flex;
    justify-content: center;
}

// .select__menu {
//     position: absolute;
// }